<mat-toolbar color="primary">
    <mat-toolbar-row>
        <app-logo></app-logo>       
        <span class="example-spacer" style="margin-left: 250px">
            <app-search-dummy></app-search-dummy>
        </span>
        <div mat-raised-button matTooltip="Click to see your saved movies.." matTooltipClass="example-tooltip-red"
              aria-label="Button that shows a red tooltip" class="example-button">
             <button mat-raised-button matTooltip="Click to search from ImDb database" matTooltipClass="example-tooltip-red" aria-label="Button that shows a red tooltip"
             class="example-button"  routerLink="/wishlist" mat-raised-button  style="margin-left: 50px">WishList</button>
       
        </div>
    </mat-toolbar-row>
</mat-toolbar>


 