 

<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a routerLink="/home">
    <span class="navbar-brand" id="logo">
      <i class="fa fa-film" aria-hidden="true"></i> MovieCruiser<span style="font-weight: bold">Application </span>
    </span></a>
  </div>